@font-face {
    font-family: 'Flow Circular';
    src:
        local('Flow Circular Regular'),
        local('FlowCircular-Regular'),
        url('../fonts/FlowCircular-Regular.woff2') format('woff2'),
        url('../fonts/FlowCircular-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

div {
    padding: 15px;
    font-family: "Flow Circular";
    font-size: 60px;
}